@import url('https://mythslist.github.io/gamebanana-css/gb-main.css');

:root {
	--DefaultTextFontFamily: "Comic Sans MS", "Comic Sans", cursive;
    --DefaultTechnicalFontFamily: "Comic Sans MS", "Comic Sans", cursive;
	--BodyBackground: #222222 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--BodyWrapperBackground: #222222;
	--NavPaneBackgroundColor: #222222;
	--InputBackgroundColor: #474747;
	--TabBorder: #323232;
	--TabBackground:#525252;
	--ButtonBackground: linear-gradient(180deg, #626262, #474747);
}

#BodyWrapper {
	box-shadow: 0 0 4em rgb(0 0 0);
}

body {
    background: url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/wall.png');
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
}

#PageTitle {
	text-align: left;
	padding: 1em;
	opacity: 1;
	text-shadow: 0 0 0.15em color-mix(in srgb, black 50%, white);
}

a, h2, .Linklike, .Name, #PageFooter #ImportantLinks li #AddIdeaLink, h4.bmGuardianSubTitle {
	text-shadow: 0 0 0.15em color-mix(in srgb, currentColor 85%, white);
}

.PageModule>.Content {
	background-color: #171717;
}

#SubNavigator {
	border-bottom-color: #525252;
}

#SubNavigator li spriteIcon, button spriteIcon, .ButtonLike spriteIcon, .Record .Stats spriteIcon {
	filter: grayscale(1);
}

#PrimaryNav {
	background: #525252;
	border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: #373737;
}

#SecondaryNav {
	background: #424242;
}

#SecondaryNav>wrapper module {
	border-bottom-width: 0.125em;
    border-bottom-color: #525252;
    border-bottom-style: solid;
}

.PageModule>.Content {
	border-radius: 0%;
	background: scr('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/chalkboard.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

:where(#ResponsibilitiesModule,#CoreStatsModule) .Card {
	background: #474747;
}

h4.bmGuardianSubTitle {
	color: white;
}

header#MainContentHeader {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/fence.png'), url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/wall.png');
    background-repeat: repeat, repeat-x, repeat;
    background-position: center, bottom, center;
    background-size: contain, auto 75%, contain;
}

* {
  cursor: url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/cursor.cur'), auto !important;
}

.Avatar img {
	border-radius: 35%;
}

.Avatar.Online::after {
	z-index: 2;
}

.Avatar::before, .Avatar.Online::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/frame.png');
	background-size: 100% 100%;
	pointer-events: none;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	z-index: 1;
}

.Avatar.HasClearanceLevel, #ModsOnlineModule .Avatar.HasModClearanceLevel, .UserTitle {
    box-shadow: none;
}

.Avatar.HasClearanceLevel::before, #ModsOnlineModule .Avatar.HasModClearanceLevel::before {
    box-shadow: 0 0 0 .125em var(--DefaultGreenColor), 0 0 .75em var(--DefaultGreenColor);
	border-radius: 15%
}