@import url('https://mythslist.github.io/gamebanana-css/gb-main.css');

:root {
	--DefaultTextFontFamily: "Comic Sans MS", "Comic Sans", cursive;
    --DefaultTechnicalFontFamily: "Comic Sans MS", "Comic Sans", cursive;
	--BodyBackground: #222622 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--BodyWrapperBackground: #363F36;
	--NavPaneBackgroundColor: #1D221D;
	--InputBackgroundColor: #465246;
	--TabBorder: #272d27;
	--TabBackground:#546154;
	--ButtonBackground: linear-gradient(180deg, #546154, #465246);
	--DefaultBlueColor: #228B22;
	--DefaultRedColor: #75FF75;
	--DefaultGreenColor: #B8FFB8;
	--LinkHoverColor: var(--DefaultBlueColor);
	--SubNavigatorActiveTabFontColor: var(--DefaultRedColor);
	--SubNavigatorActiveTabBorderColor: var(--DefaultRedColor);
}

#BodyWrapper {
	box-shadow: 0 0 4em rgb(0 0 0);
}

#PageTitle {
	text-align: left;
	padding: 1em;
	opacity: 1;
}

a, .Linklike, .Name, #PageFooter #ImportantLinks li #AddIdeaLink, h4.bmGuardianSubTitle {
	color: var(--DefaultRedColor);
	text-shadow: 0 0 0.15em color-mix(in srgb, currentColor 85%, white);
}

.PageModule>.Content {
	background-color: #222622;
}

#SubNavigator {
	border-bottom-color: #546154;
}

#SubNavigator li spriteIcon, button spriteIcon, .ButtonLike spriteIcon, .Record .Stats spriteIcon {
	filter: grayscale(1);
}

#PrimaryNav {
	background: #546154;
	border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: #363f36;
}

#SecondaryNav {
	background: #465246;
}

#SecondaryNav>wrapper module {
	border-bottom-width: 0.125em;
    border-bottom-color: #525252;
    border-bottom-style: solid;
}

:where(#ResponsibilitiesModule,#CoreStatsModule) .Card {
	background: #465246;
}

header#MainContentHeader {
    background: url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/wall.png');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

header#MainContentHeader {
    background: url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/fence.png');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}

* {
  cursor: url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/cursor.cur'), auto !important;
}

.AvatarImage, .Avatar {
	border-radius: 35%;
}

.Avatar.Online::after {
	z-index: 2;
}

.Avatar::before, .Avatar.Online::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('https://mythslist.github.io/gamebanana-css/assets/baldisbasics/frame.png');
	background-size: 100% 100%;
	pointer-events: none;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	z-index: 1;
}

.Avatar.HasClearanceLevel, #ModsOnlineModule .Avatar.HasModClearanceLevel, .UserTitle {
    box-shadow: none;
}

.Avatar.HasClearanceLevel::before, #ModsOnlineModule .Avatar.HasModClearanceLevel::before {
    box-shadow: 0 0 0 .125em var(--DefaultRedColor), 0 0 .75em var(--DefaultRedColor);
	border-radius: 15%
}