@import url('https://mythslist.github.io/gamebanana-css/gb-main.css');

:root {
	--BodyBackground: #16483f url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--BodyWrapperBackground: #76000c url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--NavPaneBackgroundColor: #76000c;
	--InputBackgroundColor: #cd2738;
	--TabBorder: #1c463e;
	--TabBackground: #125e50;
	--ButtonBackground: linear-gradient(180deg, #cb2637, #76000c);
	--DefaultRedColor: #cd2738;
	--SubNavigatorActiveTabBorderColor: var(--DefaultRedColor);
	--SubNavigatorActiveTabFontColor: var(--DefaultRedColor);
	--LinkHoverColor: #eb3720;
}

.Record img, #ResponsibilitiesModule img, spriteIcon, .SpriteIcon, #SubNavigator li spriteIcon, #SubNavigator li:hover spriteIcon, button spriteIcon, button:hover spriteIcon, .ButtonLike spriteIcon, .ButtonLike:hover spriteIcon, .Record .Stats spriteIcon, img.Upic, .PostFooter, span.stats-icon>img {
	filter: sepia(1) hue-rotate(85deg);
}

body .MiniMedal_normal, body .MiniMedal_rare, body .MiniMedal_legendary, body .MiniMedal_titanium, body .MiniMedal_diamond, body .MiniMedal_jam_entry, body .MiniMedal_jam_award {
	filter: sepia(1) hue-rotate(85deg);
}

.UserTitle {
	background: #76000c;
}

.PageModule>.Content {
	background-color: #145e50;
	box-shadow: 0 0 1em #cb2637;
}

a, .Linklike, .Name, #PageFooter #ImportantLinks li #AddIdeaLink {
	color: #ce2738;
}

#SubNavigator {
	border-bottom-color: #145f4f;
}

#PrimaryNav {
	background: #125e50;
	border-bottom-width: 0.125em;
	border-bottom-style: solid;
	border-bottom-color: #cd2738;
	margin-left: 0.01em;
}

#SecondaryNav {
	background: #16483f;
}

stateLabel {
	background: #16483f;
}

:where(#ResponsibilitiesModule,#CoreStatsModule) .Card {
	background: #1f4d44;
}

.Posts .Post[data-pin-level="3"]>.PostHeader {
    	background: linear-gradient(#82b390, #0000);
}

.PostHeader stateLabel[data-label=Submitter] {
    	color: var(--DefaultRedColor);
}

.ExtendedContentButton {
    	background: #0d4d45;
    	color: var(--DefaultRedColor);
}

h4.bmGuardianSubTitle {
	text-shadow: 0 0 0.15em var(--DefaultRedColor);
}

body, .lg-outer #lg-dropdown-overlay, #SearchInput, label {
    cursor: url(https://mythslist.github.io/gamebanana-css/assets/cursor/enadreambbq-point.cur), default;
}

a, .Linklike, button, .ButtonLike, input[type=range]::-webkit-slider-runnable-track, select, .SelectLike, .BeaconParent .Beacon, .ExpandableToggle, .PageModule>.RelatedLinksButton, .MainForm .InputsWrapper .OptionalInput>legend, fieldset#Userid .AdvancedElement_InputSuggestionsList li, .AdvancedListSettingsModule>.Content .OrderAndSortControls fieldset legend, .AdvancedElement_FloatingButtonTabs li, .AdvancedElement_InputSuggestionsList li, .AdvancedElement_Tabs li, .AdvancedElement_GraphicalSelect .OptionsWrapper .Options li, .AdvancedElement_Switch.List ul li, #MasterLog log .CloseButton, .Modal .CloseModal, .Editor .ViewModeSwitchers span, .Editor .WysiwygPalettes>h4, #PrimaryNav controls, #SecondaryNav controls, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #SecondaryNav module>icon:hover, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #SecondaryNav module>widget:hover, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #PrimaryNav module>icon:hover, body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #PrimaryNav module>widget:hover, #HiddenColumnToggleButton, #AlertsNavModule pane .Controls .MarkAllAsSeen, #ActivityNavModule pane .Controls .MarkAllAsSeen, #AlertsNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper, #ActivityNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper, #GamesNavModule widget ul li, #BuddiesNavModule pane #BuddyChatInitiators li, .RichText .TableOfContents ul li, #FeaturesSliderModule .Slides .Slide, #FeaturesSliderModule .Slides .ExpandedSlide, #FeaturesSliderModule .Slides .Slide .Info .Name, #FeaturesSliderModule .Slides .ExpandedSlide .Info .Name, #SubmissionsListAdvancedListSettingsModule .RecentGames li, #SubmissionsListAdvancedListSettingsModule .SelectedGames li, #ThanksToggleModule .Content #ShowThanksOptionsToggle.ModalLauncher, #UpdatesModule .ToggleContentButton, .lg-actions .lg-next, .lg-actions .lg-prev, .lg-toolbar .lg-icon, .lg-outer .lg-thumb-item, .lg-outer .lg-toogle-thumb, .lg-outer .lg-video .lg-video-play, .lg-outer .lg-pager-cont, .StrangeBerryModal .CloseButton, .RadioCheckWrapper input, .ContentEditable .Tab, #GamesPane summary, #ManageNavModule summary, .InputWrapper .Tab, .Tab:has(:checked), input:checked+.Tab, .bmAudioControls.green-audio-player {
    cursor: url(https://mythslist.github.io/gamebanana-css/assets/cursor/enadreambbq-hover.cur), pointer;
}

#ContentGrid row>column {
	padding-top: 4em;
}

#PageFooter {
    background-image: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/froggytalk.gif), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    background-position-x: center, left;
    background-position-y: center, top;
    background-size: 20%, auto;
    background-attachment: local;
    background-blend-mode: screen, normal;
}

module#BuddiesNavModule article.Flow {
    background-image: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/handsomeguy.gif);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 25%;
}

module#RemindersNavModule article.Flow {
    background-image: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/taskimaidendance.gif);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 50%;
}

module#ManageNavModule article.Flow {
    background-image: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/enameanietalk.gif);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 40%;
}

[data-theme~=siteMenu] .tippy-content {
    background-image: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/lonelydoor.png);
    background-position-x: 10%;
    background-position-y: 120%;
    background-size: 10%;
    background-repeat: no-repeat;
}

/*
.PageModule#OnlineStatusModule>.Content {
    background-image: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/hourglassdog.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 96%;
    background-position-y: 105%;
}
*/

#ContentGrid {
    background-image: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/lanternman.png);
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: -0.1%;
    background-size: 5%;
}

header#MainContentHeader {
	background: url(https://mythslist.github.io/gamebanana-css/assets/enadreambbq2new.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#SiteLogo img {
  content: url(https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/enabbqlogo.png);
}
