@import url('https://mythslist.github.io/gamebanana-css/gb-main.css');

:root {
	--BodyBackground: #171717 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--BodyWrapperBackground: #222222 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--NavPaneBackgroundColor: #222222;
	--InputBackgroundColor: #474747;
	--TabBorder: #323232;
	--TabBackground:#525252;
	--ButtonBackground: linear-gradient(180deg, #626262, #474747);
	--SubNavigatorActiveTabBorderColor: var(--DefaultRedColor);
	--DefaultBlueColor: var(--DefaultRedColor);
}


img, spriteIcon, .SpriteIcon, #SubNavigator li spriteIcon, #SubNavigator li:hover spriteIcon, button spriteIcon, button:hover spriteIcon, .ButtonLike spriteIcon, .ButtonLike:hover spriteIcon, .Record .Stats spriteIcon, img.Upic, .PostFooter, span.stats-icon>img {
	filter: grayscale(1);
}

a, .Linklike, .Name, #PageFooter #ImportantLinks li #AddIdeaLink {
	color: var(--DefaultGreenColor);
}

.PageModule>.Content {
	background-color: #171717;
}

spriteIcon, .SpriteIcon {
	filter: grayscale(1);
}

#SubNavigator {
	border-bottom-color: #525252;
}

#SubNavigator li spriteIcon, button spriteIcon, .ButtonLike spriteIcon, .Record .Stats spriteIcon {
	filter: grayscale(1);
}

#PrimaryNav {
	background: #525252;
	border-bottom-width: 0.125em;
    	border-bottom-style: solid;
    	border-bottom-color: #373737;
}

#SecondaryNav {
	background: #424242;
}

#SecondaryNav>wrapper module {
	border-bottom-width: 0.125em;
        border-bottom-color: #525252;
        border-bottom-style: solid;
}

:where(#ResponsibilitiesModule,#CoreStatsModule) .Card {
	background: #474747;
}

.Posts .Post[data-pin-level="3"]>.PostHeader {
    	background: linear-gradient(#e16c6c59, #0000);
}

.PostHeader stateLabel[data-label=Submitter] {
    	color: var(--DefaultRedColor);
}

.ExtendedContentButton {
    	background: #2e1c1c;
    	color: var(--DefaultRedColor);
}

h4.bmGuardianSubTitle {
	text-shadow: 0 0 0.15em var(--DefaultRedColor);
}

header#MainContentHeader {
	background: url('https://mythslist.github.io/gamebanana-css/assets/saberalter.png');
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
}
