img.SacredBanana {
	filter: initial;
}

.PageModule {
	border-bottom-style: initial;
}

.PageModule>h2 {
	font-size: 1.55em;
	font-family: var(--ModuleTitleFontFamily);
}

.PageModule>h3 {
	font-size: 1.55em;
	font-family: var(--ModuleTitleFontFamily);
}

.Record .PreviewImage { 
	object-fit: contain;
	object-position: center;
}

.Avatar.Online:after {
	box-shadow: 0 0 0.75em var(--DefaultGreenColor);
}

.MemberLink indicator.Online {
	box-shadow: 0 0 0.15em var(--DefaultGreenColor);
}

.UserTitle {
	box-shadow: 0 0 0 0.125em var(--DefaultRedColor),0 0 0.75em var(--DefaultRedColor);
	color: var(--DefaultRedColor);
	background: #474747;
	border-radius: 0.5em;
	padding: 0.25em 0;
	margin: 0.5em;
}

#PageTitle {
	text-align: right;
	text-shadow: 0 0 1em rgb(0 0 0);
	padding: 2em;
	opacity: 0;
}

#IdentityModule .UserTitle {
	font-size: medium;
}

.PageModule>.Content {
	border-radius: 0.5em;
	box-shadow: 0 0 1em rgb(0 0 0);
}

spriteIcon, .SpriteIcon {
	background-image: url('https://mythslist.github.io/gamebanana-css/assets/misc/icon_sheet.png');
}

#ModsOnlineModule .Grid {
	gap: 1.25em;
	padding: 0.25em 0.5em;
	place-content: center;
	place-items: center;
}

#CoreStatsModule ul {
	margin-right: 0em;
	padding-bottom: 0em;
}

#CoreStatsModule .Content {
	padding: 0.5em 0;
}

#MedalsModule ul {
	margin: 0em 0em 0em 0.5em;
	text-align: justify;
}

.RecordsGrid {
	place-content: center;
}

#SubNavigator .ActiveEntry {
	box-shadow: 0 6px 4px -4px var(--SubNavigatorActiveTabFontColor);
}

:where(#ResponsibilitiesModule,#CoreStatsModule) .Card {
	border-radius: 0.5em;
}

#BodyWrapper {
	box-shadow: 0 0 6em rgb(0 0 0);
}

#HeadlineWrapper {
	height: inherit;
}

#ContentGrid>row>column:not(:first-child) {
	border-right: initial;
}

.guard_desc {
	font-size: var(--DefaultMediumFontSize);
	text-align: center;
	font-weight: bold;
	color: var(--DefaultRedColor);
}

img.guard_image {
	filter: initial;
	margin-left: 5px;
}

article.RichText {
	text-align: justify;
}
