@import url('https://mythslist.github.io/gamebanana-css/gb-main.css');

:root {
	--BodyBackground: #0A1626 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--BodyWrapperBackground: #192940 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIA5IMhKnjmFUId6AAgePJDFhCQDDFAEFiQDatQAAAABJRU5ErkJggg==);
	--NavPaneBackgroundColor: #1A2738;
	--InputBackgroundColor: #1D4167;
	--TabBorder: #3B5268;
	--TabBackground: #436D91;
	--ButtonBackground: linear-gradient(180deg, #508BB3, #29669E);
	--DefaultRedColor: #ACD7E3;
}

img, spriteIcon, .SpriteIcon, #SubNavigator li spriteIcon, button spriteIcon, .ButtonLike spriteIcon, .Record .Stats spriteIcon {
	filter: sepia(1) hue-rotate(180deg);
}

.UserTitle {
	background: #192940;
}

.PageModule>.Content {
	background-color: #3B5268;
	box-shadow: 0 0 1em #3B5268;
}

a, .Linklike, .Name, #PageFooter #ImportantLinks li #AddIdeaLink {
	color: #bccef0;
}

#SubNavigator {
	border-bottom-color: #426587;
}

#PrimaryNav {
	background: #4A739A;
	border-bottom-width: 0.125em;
	border-bottom-style: solid;
	border-bottom-color: #1D4167;
}

#SecondaryNav {
	background: #3b5c7b;
}

stateLabel {
	background: #507fab;
}

:where(#ResponsibilitiesModule,#CoreStatsModule) .Card {
	background: #507fab;
}

.guard_desc {
	text-shadow: 0 0 0.15em var(--DefaultRedColor);
}

header#MainContentHeader {
	background: url('https://mythslist.github.io/gamebanana-css/assets/okitasouji.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
