body {
    background: url('https://mythslist.github.io/gamebanana-css/assets/misc/enadreambbq/enatalk.gif');
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #16483f;
}
